body {
  font-family: Arial;
  background: #f4f6f8;
}

.container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background: white;
  text-align: center;
  border-radius: 6px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}
